<%
@site_name  = site_name
@site_title = snippet[:title] + ' - ' + site_name
@page_title = snippet[:title]
@ga_tracking_code = ga_tracking_code
@ga_site = ga_site
%>

<header class="jumbotron subhead">
  <h1><%= snippet[:title] %></h1>
</header>

<section class="snippet-body">
  <%= snippet[:body] %>
</section>

<% unless snippet.tags.empty? %>
<section>
  <div id="tags">Tags:
    <% snippet.tags.each do |tag| %>
      <a href="/tag/<%= tag.tag %>"><%= tag.tag %></a><%= unless tag == snippet.tags[-1] then ',' end %>
    <% end %>
  </div>
</section>
<% end %>
